/* signup.css */

/* Center the signup card */
.signup-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Signup card styles */
.signup-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Headline styles */
.signup-card h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Form input styles */
.signup-card form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc; /* Bottom line style */
    margin-bottom: 15px;
    transition: border-bottom 0.3s ease, transform 0.3s ease; /* Transition for hover effect */
}

/* Input hover effect */
.signup-card form input:hover {
    border-bottom: 1px solid #3498db; /* Highlight the bottom line on hover */
    transform: scale(1.02); /* Slight scale-up effect on hover */
}

/* Signup button styles */
.signup-card form button {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 25px; /* Rounded border */
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease; /* Transition for hover effect */
}

/* Signup button hover effect */
.signup-card form button:hover {
    background-color: #2980b9; /* Darker background color on hover */
    border-radius: 35px; /* Curved border on hover */
}


/* SignupPage.css */

/* Styles for loading spinner */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the spinner is on top of everything */
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Border with transparency for a see-through effect */
    border-top: 4px solid #3498db; /* Blue color for the spinner */
    border-radius: 50%; /* Circle shape */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

  